<h1 ng-show="cart.items.length == 0">Cart is empty</h1>
<div ng-show="cart.items.length > 0">
  <p></p>
  <h1>Cart</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Amount</th>
      <th scope="col">Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="i in cart.items">
      <td>{{i.productTitle}}</td>
      <td>
        <button class="btn btn-primary" ng-click="decrementItem(i.productId)">-</button>
        {{i.quantity}}
        <button class="btn btn-primary" ng-click="incrementItem(i.productId)">+</button>
      </td>
      <td>{{i.pricePerProduct + ' X ' + i.quantity + ' = ' + i.price}}</td>
      <td>
        <button class="btn btn-danger" ng-click="removeFromCart(i.productId)">Remove</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><b>{{'Total price: ' + cart.totalPrice}}</b></td>
    </tr>
    </tbody>
  </table>

  <p></p>
  <button class="btn btn-primary" ng-click="checkOut()" ng-show="isUserLoggedIn() && cart.items.length > 0">Checkout</button>
  <button class="btn btn-secondary" ng-click="disabledCheckOut()" ng-show="!isUserLoggedIn() && cart.items.length > 0">Checkout</button>
</div>
