<div>
  <p></p>
  <h3>Orders</h3>
  <table class="table align-middle">
    <thread scope="col">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Products</th>
        <th scope="col">Total price</th>
      </tr>
    </thread>
    <tbody>
    <tr ng-repeat="ord in orders">
      <th scope="row">{{ord.id}}</th>
      <td>
        <table class="table align-middle table-bordered">
          <thread>
            <tr>
              <th scope="col">Id product</th>
              <th scope="col">Title</th>
              <th scope="col">Amount</th>
              <th scope="col">Price</th>
            </tr>
          </thread>
          <tbody>
          <tr ng-repeat="i in ord.items">
            <td>{{i.productId}}</td>
            <td>{{i.productTitle}}</td>
            <td>{{i.amount}}</td>
            <td>{{i.pricePerProduct}}</td>
          </tr>
          </tbody>
        </table>
      </td>
      <th scope="row">{{ord.price}}</th>
    </tr>
    </tbody>
  </table>
</div>