<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Customer</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Customer info</h2>
  <h3 th:text="${'ID: ' + customer.id}"></h3>
  <h3 th:text="${'Name: ' + customer.name}"></h3>
  <h3 th:text="${'Products list: '}"></h3>
  <table class="table">
    <tbody>
    <tr th:each="c : ${customer.orders}">
      <td th:if="${c.customer.id == customer.id}">
        <h3 th:text="${c.product.title}"></h3>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{'/customers/show_all'}" class="btn btn-primary">Customers List</a>
</div>
</body>
</html>