<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Orders List</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Purchase Price</th>
      <th scope="col">Customer</th>
      <th scope="col">Product</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="o : ${orders}">
      <td th:text="${o.id}"></td>
      <td th:text="${o.purchasePrise}"></td>
      <td th:text="${o.customer.name}"></td>
      <td th:text="${o.product.title}"></td>
      <td>
        <a th:href="@{'/orders/delete/' + ${o.id}}" class="btn btn-primary">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{'/'}" class="btn btn-primary">Main menu</a>
</div>
</body>
</html>