<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h2>Product info</h2>
<h3 th:text="${'ID: ' + product.id}"></h3>
<h3 th:text="${'Title: ' + product.title}"></h3>
<h3 th:text="${'Price: ' + product.price}"></h3>
<a th:href="@{'/products/show_all'}"  class="btn btn-primary">Product List</a>
</div>
</body>
</html>