<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${products}">
      <td th:text="${p.id}"></td>
      <td th:text="${p.title}"></td>
      <td th:text="${p.price}"></td>
      <td>
        <a th:href="@{'/products/show/' + ${p.id}}" class="btn btn-primary">Info</a>
      </td>
      <td>
        <a th:href="@{'/products/delete/' + ${p.id}}" class="btn btn-primary">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{'/products/create'}" class="btn btn-primary">Add product</a>
  <a th:href="@{'/products/update'}" class="btn btn-primary">Update product</a>
  <a th:href="@{'/'}" class="btn btn-primary">Main menu</a>
</div>
</body>
</html>