<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add product</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Update Product</h2>
  <form method="post" th:action="@{'/products/update'}">
    <div class="mb-3">
      <label for="productId" class="form-label">ID</label>
      <input type="number" name="id" class="form-control" id="productId">
    </div>
    <div class="mb-3">
      <label for="productTitle" class="form-label">Name</label>
      <input type="text" name="title" class="form-control" id="productTitle">
    </div>
    <div class="mb-3">
      <label for="productPrice" class="form-label">Price</label>
      <input type="number" name="price" class="form-control" id="productPrice">
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
  </form>
  <p></p>
  <a th:href="@{'/products/show_all'}" class="btn btn-primary">Product List</a>
</div>
</body>
</html>